@import 'normalize-scss';
@include normalize();

body {
  font-family: 'Lato', sans-serif;
}

.App {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  header {
    -webkit-user-select: none;
    background: skyblue;
    text-align: center;
    color: white;
    font-size: 64px;
    width: 100%;
    padding: 12px 0;
  }

  main {
    padding: 16px;
    font-size: 48px;
  }

  textarea {
    width: 80%;
    height: 80%;
    min-height: 480px;
    border: 1px solid skyblue;
    padding: 25px;
  }
}
